{% extends 'base.html.twig' %}


{% block title %}All categories
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<h1>Toutes les catégories du site :
		</h1>
		{% for category in categories %}
			<div>
				<h2>{{ loop.index }}
					/
					{{ category.name }}</h2>
				<a href="{{ path('category_show', { categoryName: category.name }) }}" class="btn btn-primary btn-sm">Voir les series</a>
				<p></p>
			</div>
		{% else %}
			Aucune catégorie trouvée.
		{% endfor %}

		<a href="{{ path('app_index') }}" class="btn btn-primary btn-sm">
			Retour à l'Accueil
		</a>
	</div>
{% endblock %}
