{% extends 'base.html.twig' %}
{% block title %}Index des episodes
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Index des épisodes</h1>
		<div class="return">
			<a href="{{ path('app_episode_new') }}" class="btn btn-primary btn-sm">Créer un nouvel épisode</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">Série</th>
					<th class="col-md-1">Titre</th>
					<th class="col-md-1">Episode</th>
					<th class="col-md-7">Synopsis</th>
					<th class="col-md-2">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for episode in episodes %}
					<tr>
						<td>{{ episode.season.program.title }}</td>
						<td>{{ episode.title }}</td>
						<td>S{{ "%02d"|format(episode.season.number)}}-E{{ "%02d"|format(episode.number) }}</td>
						<td>{{ episode.synopsis }}</td>
						<td>
							<a href="{{ path('app_episode_show', {'id': episode.id}) }}" class="btn btn-primary btn-sm">Voir</a>
							<a href="{{ path('app_episode_edit', {'id': episode.id}) }}" class="btn btn-primary btn-sm">Editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
