{% extends 'base.html.twig' %}
{% block title %}index des saisons
{% endblock %}

{% block body %}
	<div class="container">
		<div class="return">
			<a href="{{ path('season_new') }}" class="btn btn-primary btn-sm">Créer nouvelle saison</a>
		</div>
		<h1>Index des saisons</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">Serie</th>
					<th class="col-md-1">Saison</th>
					<th class="col-md-1">Année</th>
					<th class="col-md-7">Description</th>
					<th class="col-md-2">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for season in seasons %}
					<tr>
						<td>{{ season.program.title }}</td>
						<td>S{{ "%02d"|format(season.number)  }}</td>
						<td>{{ season.year }}</td>
						<td>{{ season.description }}</td>
						<td>
							<a href="{{ path('season_show', {'id': season.id}) }}" class="btn btn-primary btn-sm">Voir</a>
							<a href="{{ path('season_edit', {'id': season.id}) }}" class="btn btn-primary btn-sm">Editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
