{% extends 'base.html.twig' %}

{% block title %}
	{{ episode.season.program.title }}
	S{{ "%02d"|format(episode.season.number) }}-E{{ "%02d"|format(episode.number) }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<img class="image-show" src="{{ asset('build/images/' ~ episode.season.program.poster) }}" alt="{{ episode.season.program.title }} poster">
			</div>
			<div class="col">
				<h1>{{ episode.season.program.title }}
					- Saison
					{{ "%02d"|format(episode.season.number) }}
					- Episode
					{{ "%02d"|format(episode.number) }}</h1>
				<p>Année:
					{{ episode.season.year }}</p>
				<p>Titre:
					{{ episode.title }}</p>
				<p>Synopsis:
					{{ episode.synopsis }}</p>
			</div>
			<div class="return">
				<a href="{{ path('program_season_show', { programId: episode.season.program.id, seasonId: episode.season.id }) }}" class="btn btn-primary btn-sm">
					Retour à la liste des Episodes
				</a>
			</div>
		</div>
	{% endblock %}
