{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<img class="image-show" src="{{ asset('build/images/' ~ episode.season.program.poster) }}" alt="{{ episode.season.program.title }} poster">
			</div>
			<div class="col">
				<h1>{{ episode.season.program.title }}
					- Saison
					{{ episode.season.number }}
					- Episode
					{{ episode.number }}</h1>
				<p>Année:
					{{ episode.season.year }}</p>
				<p>Titre:
					{{ episode.title }}</p>
				<p>Synopsis:
					{{ episode.synopsis }}</p>
			</div>
			<div class="return">
				<a href="{{ path('season_show', { programId: episode.season.program.id, seasonId: episode.season.id }) }}">
					Retour à la liste des Episodes
				</a>
			</div>
		</div>
	{% endblock %}
