{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ episode.season.program.title }}
			- Saison
			{{ episode.season.number }}
			- Episode
			{{ episode.number }}</h1>
		<p>synopsis
			{{ episode.synopsis }}</p>
		<a href="{{ path('season_show', { programId: episode.season.program.id, seasonId: episode.season.id }) }}">
			Retour à la liste des Episodes
		</a>
	</div>
{% endblock %}
