{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<h1>Toutes les séries:
		</h1>
		<div class="row">
			{% for program in programs %}
				<div class="col-sm-5 col-md-4 col-lg-3 d-flex align-items-stretch mb-4">
					<div class="card" style="width: 18rem;">
						<a href="{{ path('program_show', { id: program.id }) }}"><img src="{{ asset('build/images/' ~ program.poster) }}" class="card-img-top" alt="{{ program.title }}-image"></a>
						<div class="d-flex flex-column card-body">
							<h5 class="card-title">{{ program.title }}</h5>
							<p lass="card-text">Catégorie :
								<a href="{{ path('category_show', { categoryName: program.category.name }) }}">{{ program.category.name }}</a>
							</p>
							<p class="card-text">{{ program.synopsis }}</p>
							<a href="{{ path('program_show', { id: program.id }) }}" class="mt-auto btn btn-primary">Voir la fiche</a>
						</div>
					</div>
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}
		</div>
		<div class="return">
			<a href="{{ path('app_index') }}">
				Retour à l'Accueil
			</a>
		</div>
	</div>
{% endblock %}
