{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Toutes les séries de la table program :
		</h1>
		<div class="row">

			{% for program in programs %}
				<div class="col-lg-3 col-md-5 col-12">
					<div class="card" style="width: 18rem;">
						<img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}-image">
						<div class="card-body">
							<h5 class="card-title">{{ program.title }}</h5>
							<p lass="card-text">Catégorie :
								<a href="{{ path('category_show', { categoryName: program.category.name }) }}">{{ program.category.name }}</a>
							</p>
							<p class="card-text">{{ program.synopsis }}</p>
							<a href="{{ path('program_show', { id: program.id }) }}" class="btn btn-primary">Voir la fiche</a>
						</div>
					</div>
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}

		</div>
		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</div>
{% endblock %}
