{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<img class="image-show" src="{{ asset('build/images/' ~ season.program.poster) }}" alt="{{ season.program.title }} poster">
			</div>
			<div class="col">
				<h1>{{season.program.title }}
					- Saison
					{{ season.number }}</h1>
				<p>Année:
					{{ season.year}}</p>
				<p>{{ season.description}}</p>
				{% if season.episodes|length > 0 %}
					<p>Episodes disponibles:</p>
					<ul>
						{% for episode in season.episodes %}
							<li>Episode
								<a href="{{ path('program_episode_show', { programId: season.program.id, seasonId: season.id, episodeId: episode.id }) }}">
									{{ episode.number }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="return">
				<a href="{{ path('program_show', { id: season.program.id }) }}">
					Retour à la liste des Saisons
				</a>
			</div>
		</div>
	{% endblock %}
